{% extends "base_en.html" %}
{% block content %}
<h1>Bookings</h1>
<p>Here is the list of all bookings:</p>
<ul>
    {% for booking in bookings %}
    <li>
      <strong>Name:</strong> {{ booking.name }}<br>
      <strong>Email:</strong> {{ booking.email }}<br>
      <strong>Phone:</strong> {{ booking.phone }}<br>
      <strong>Date:</strong> {{ booking.date }}<br>
      <strong>Time:</strong> {{ booking.time }}<br>
      <strong>Topic:</strong> {{ booking.topic }}
    </li>
    {% endfor %}
</ul>
{% endblock %}